@model ResumeWebSite.Models.Entity.Skill
@{
    ViewBag.Title = "UpdateSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h3>Skill Update</h3>
<br />
<form method="post">
    @Html.Label("Id")
    @Html.TextBoxFor(x => x.Id, new { @class = "form-control" })
    <br />
    @Html.Label("Name")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    @Html.Label("Percentage")
    @Html.TextBoxFor(x => x.Percentage, new { @class = "form-control" })
    <br />
    <button class="btn btn-info btn-sm">
        <i class="fas fa-pencil-alt">
        </i>
        Edit
    </button>
</form>

