@using ResumeWebSite.Models.Entity
@model List<AboutMe>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Yavuz Selim Güner</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="/devfolio-master/img/favicon.png" rel="icon">
    <link href="/devfolio-master/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap CSS File -->
    <link href="/devfolio-master/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/main-theme/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/main-theme/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/main-theme/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/main-theme/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/main-theme/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/main-theme/css/style.css" rel="stylesheet">
</head>

<body id="page-top">

    <!--/ Nav Star /-->
    <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll" href="#page-top">RESUME</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
                    aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link js-scroll active" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll" href="#about">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll" href="#service">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll" href="#work">Certificates</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll" href="#blog">Hobbies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="home" class="intro route bg-image" style="background-image: url('../../main-theme/img/intro-bg.jpg'); ">
        <div class="overlay-itro"></div>
        <div class="intro-content display-table">
            <div class="table-cell">
                <div class="container">
                    <!--<p class="display-6 color-d">Hello, world!</p>-->
                    <h1 class="intro-title mb-4">I am Yavuz Selim GUNER</h1>
                    <p class="intro-subtitle"><span class="text-slider-items">Freelancer,Web Developer,Web Designer,Full Stack Developer</span><strong class="text-slider"></strong></p>
                    <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
                </div>
            </div>
        </div>
    </div>
    
        <section id="about" class="about-mf sect-pt4 route">
            <div class="container">
                @foreach (var x in Model)
                 {
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="box-shadow-full">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-5">
                                                <div class="about-img">
                                                    <img src="@x.Photo" class="img-fluid rounded b-shadow-a" alt="">
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-7">
                                                <div class="about-info">
                                                    <p><span class="title-s">Name: </span> <span>@x.FirstName</span></p>
                                                    <p><span class="title-s">Profile: </span> <span>@x.Profile</span></p>
                                                    <p><span class="title-s">Email: </span> <span>@x.Mail</span></p>
                                                    <p><span class="title-s">Phone: </span> <span>@x.Phone</span></p>
                                                </div>
                                            </div>
                                        </div>
                                        @Html.Action("Skill")
                                    </div>
                                    <div class="col-md-6">
                                        <div class="about-me pt-4 pt-md-0">
                                            <div class="title-box-2">
                                                <h5 class="title-left">
                                                    About me
                                                </h5>
                                            </div>
                                            <p class="lead">
                                                @x.Description
                                            </p>
                                            @Html.Action("SocialMedia")
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                 }
            </div>
        </section>
     }
    <section id="service" class="services-mf route">
        @Html.Action("Services")
    </section>

@Html.Action("Education")

    <section id="work" class="portfolio-mf sect-pt4 route">
        @Html.Action("Certificates")
    </section>
    <!--/ Section Portfolio End /-->
    <!--/ MY TALENTS... /-->
    @Html.Action("Talents")

    <!--/ Section Hobbies /-->
    @Html.Action("Hobbies")
    <!--/ Section Hobbies End /-->
    <!--/ Section Contact-Footer Star /-->
    <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(img/overlay-bg.jpg)">
        <div class="overlay-mf"></div>
        @Html.Action("Contact")
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <!--/ Section Contact-footer End /-->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div id="preloader"></div>

    <!-- JavaScript Libraries -->
    <script src="/main-theme/lib/jquery/jquery.min.js"></script>
    <script src="/main-theme/lib/jquery/jquery-migrate.min.js"></script>
    <script src="/main-theme/lib/popper/popper.min.js"></script>
    <script src="/main-theme/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/main-theme/lib/easing/easing.min.js"></script>
    <script src="/main-theme/lib/counterup/jquery.waypoints.min.js"></script>
    <script src="/main-theme/lib/counterup/jquery.counterup.js"></script>
    <script src="/main-theme/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/main-theme/lib/lightbox/js/lightbox.min.js"></script>
    <script src="/main-theme/lib/typed/typed.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="/main-theme/contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="/main-theme/js/main.js"></script>

</body>
</html>

