@using ResumeWebSite.Models.Entity
@model List<AboutMe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>About Me Page</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Mail</th>
        <th>Description</th>
        <th>Photo</th>
        <th>Update</th>
    </tr>
    @foreach (var x in Model)
    {
<tr>
    <td>@x.Id</td>
    <td>@x.FirstName</td>
    <td>@x.Address</td>
    <td>@x.Phone</td>
    <td>@x.Mail</td>
    <td>@x.Description</td>
    <td>@x.Photo</td>
    <td>
        <a class="btn btn-info btn-sm" href="/AboutMe/GetMe/@x.Id">
            <i class="fas fa-pencil-alt">
            </i>
            Edit
        </a>
    </td>
</tr>
    }
</table>
