@using ResumeWebSite.Models.Entity
@model List<Hobbies>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h2>Hobbies Page</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Category</th>
        <th>Title</th>
        <th>Image</th>
        <th>Description</th>
        <th>Date</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    @foreach (var x in Model)
    {
<tr>
    <td>@x.Id</td>
    <td>@x.Categories</td>
    <td>@x.Title</td>
    <td>@x.Images</td>
    <td>@x.Description</td>
    <td>@x.Date</td>
    <td>
        <a class="btn btn-info btn-sm" href="/Hobbies/UpdateHobbies/@x.Id">
            <i class="fas fa-pencil-alt">
            </i>
            Edit
        </a>
    </td>
    <td>
        <a class="btn btn-danger btn-sm" href="/hobbies/HobbyDelete/@x.Id">
            <i class="fas fa-trash">
            </i>
            Delete
        </a>
    </td>
</tr>
    }
</table>
<br />
<a class="btn btn-primary btn-sm" href="/Hobbies/HobbyAdd">
    <i class="fas fa-folder">
    </i>
    Add New Hobby
</a>



